body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

.container {
    text-align: center;
}

#gifContainerImg {
    width: 60%;
    height: 60%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}
#siBtn {
    padding: 10px 20px; 
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #009705; 
    color: white;
    border: 2px solid #FFC0CB; 
    border-radius: 10px; 
}

#noBtn {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #FF5733; 
    color: white;
    border: 2px solid #FFC0CB; 
    border-radius: 10px; 
}
#noBtn span {
    font-size: 18px;
    color: #fcf4f4; 
}

#siBtn:hover{
    background-color: #053a03; 
}
#noBtn:hover {
    background-color: #641e0d; 
}
.bg-green {
    background-color: #ffffff; 
}

#messageContainer {
    font-size: 30px;
    color: #FF0000; 
    font-family: 'YourDesiredFont', sans-serif; 
    text-shadow: 2px 2px 4px #000; 
    animation: pulse 0.5s infinite alternate; 
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3); 
    }
}

